<div class="row profile-data">
    <div class="col d-flex align-items-center">
        <div class="gap-2 d-flex align-items-center">
            <div class="ms-2 picture-container">

            </div>
            <div>
                <h1>Jane</h1>
                <p>NY City</p>
                <div class="buttons-container gap-2 d-flex justify-content-evenly">
                    <button class="btn btn-primary">Follow Jane</button>
                    <button class="btn btn-secondary">Message</button>
                </div>
            </div>
        </div>
    </div>
</div>