<nav class="bg-body-tertiary p-3">
  <div class="container-fluid">
    <div class="d-flex gap-3 justify-content-end align-items-center">
      <a class="nav-link" routerLink="discover">Discover</a>
      <a class="nav-link" routerLink="search">Search</a>
      <a class="nav-link" (click)="openOverlay('upload')">Upload Image</a>
      <a class="nav-link" (click)="openOverlay('chat')">Chat</a>
      <a class="nav-link" routerLink="profile">Profile</a>
    </div>
  </div>
</nav>
<app-overlay 
  *ngIf="isOverlayOpen" 
  (closeOverlay)="isOverlayOpen = false"
  [currentOverlay]="currentOverlay"
  ></app-overlay>