section
{
    padding-left: 30px;
}
h1
{
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"] 
{
    padding-right: 65em;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-color: black;
}